.login-container {
  width: 100%;
  height: 100vh;
  background-color: #14274a;
  background-image: url(../assets/imagenes/login.svg);
  color: white;
}

.login-content {
  padding-bottom: 50%;
  padding-top: 50%;
}

.login-btn, .create-btn {
  width: 100%;
}

.login-input, .password-input, .password-confirm {
  color: white;
  background-color: transparent;
}

.primary-color {
  background-color: #14274a;
  color: white;
}

.orden-col {
  background-color: #c4c4c4;
}

.divider {
  border-top: 2px solid black;
}

.btn-orden-detalle {
  width: 100%;
}

.secondary-nav-fill {
  height: 100vh;
}

.oculto {
  display: none;
}