.login-container {
    width: 100%;
    height: 100vh;
    background-color: #14274a;
    background-image: url(../assets/imagenes/login.svg);
    color: white;
  }
  
  .login-content {
    padding-bottom: 50%;
    padding-top: 50%;
  }
  
  .login-btn {
    width: 100%;
  }
  
  .login-input {
    background-color: transparent;
  }